 body {
            font-family: Arial, sans-serif;
        }
        .navbar {
            border-bottom: 2px solid #28a745;
        }
        .navbar-nav .nav-link {
            color: #fff !important;
        }
        .navbar-nav .nav-link.active {
            background-color: #28a745;
            border-radius: 0.5rem;
        }
        .content {
            padding: 20px;
        }
        .card {
            border: none;
            border-radius: 1rem;
        }
        .card-header {
            background-color: #28a745;
            color: white;
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
        }
        .table thead th {
            background-color: #28a745;
            color: white;
        }
        .actions {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .btn i {
            margin-right: 5px;
        }
        
        /*media*/
        @media (max-width: 600px) {
            .btn span {
                display: none;
            }
            .btn-sm {
                margin-right: 0;
                margin-bottom: 5px;
            }
            .btn-container {
                display: flex;
                flex-direction: column;
            }
        }
.navbar-dark .navbar-nav .nav-link.active {
    color: white !important; /* Define o texto como branco */
    border: 2px solid #007bff; /* Adiciona uma borda azul */
    border-radius: 4px; /* Arredonda os cantos da borda */
    padding: 5px 10px; /* Adiciona espaçamento interno para melhor visualização */
    background: #007bff;
}
       
/*******************************Sobra para caixa**************************************/
.shadow-custom {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra ao redor da borda */
}

/* Classe genérica para botões com ícones */
.btn-responsivo {
  
    align-items: center;
    justify-content: center;
}

/* Media query para telas menores que 560px configurando */
@media (max-width: 560px) {
    .btn-responsivo .texto-botao {
        display: none; /* Oculta o texto quando a tela for menor que 560px */
    }

    .btn-responsivo i {
        margin: 0 auto; /* Centraliza o ícone no botão */
    }
}

/***************************************configuracao tela principal********************************************************/
  .card-custom {
            border-left: 4px solid #28a745; /* Cor primária */
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        }
        .card-header-custom {
            background-color: #28a745; /* Cor primária */
            color: #fff;
        }
        .table-custom thead {
            background-color: #28a745; /* Cor primária */
            color: #fff;
        }
        .btn-custom {
            background-color: #28a745; /* Cor primária */
            color: #fff;
        }
        .btn-custom:hover {
            background-color: #218838;
            color: #fff;
        }
        
        /* Estilos adicionais para tornar o formulário  */
      

        .form-container {
            background-color: white;
            
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
           
          
        }

        .form-title {
            text-align: center;
            margin-bottom: 20px;
            color: #333;
        }

        .form-group label {
            font-weight: bold;
        }

        .form-control {
            border-radius: 5px;
        }

        .btn1{
            
            border-radius: 5px;
            padding: 10px 15px;
        }

        @media (max-width: 768px) {
            .form-container {
                padding: 15px;
            }
        }
     
