<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>ClassificacaoServlet</display-name>
    <servlet-name>ClassificacaoServlet</servlet-name>
    <servlet-class>Controller.ClassificacaoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassificacaoServlet</servlet-name>
    <url-pattern>/ClassificacaoServlet</url-pattern>
  </servlet-mapping>
  <display-name>agro</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ControllerParceiro</display-name>
    <servlet-name>ControllerParceiro</servlet-name>
    <servlet-class>Controller.ControllerParceiro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerParceiro</servlet-name>
    <url-pattern>/ControllerParceiro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DespesasCustosServlet</display-name>
    <servlet-name>DespesasCustosServlet</servlet-name>
    <servlet-class>Controller.DespesasCustosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DespesasCustosServlet</servlet-name>
    <url-pattern>/DespesasCustosServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AcessoLogin</display-name>
    <servlet-name>AcessoLogin</servlet-name>
    <servlet-class>Controller.AcessoLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcessoLogin</servlet-name>
    <url-pattern>/AcessoLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerAlimento</display-name>
    <servlet-name>ControllerAlimento</servlet-name>
    <servlet-class>Controller.ControllerAlimento</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAlimento</servlet-name>
    <url-pattern>/ControllerAlimento</url-pattern>
  </servlet-mapping>
</web-app>